<div class="classMain">
  <img src="./assets/img/sigma-logo.png" alt="sigmaLogo" />
  <h2>Prueba de desarrollo Sigma</h2>
  <article>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the
    </p>
    <p>
      industry's standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and
    </p>
    <p>scrambled it to make a type specimen book.</p>
  </article>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img src="./assets/img/sigma-image.png" alt="sigma-image" />
    </div>
    <div class="col-xs-12 col-md-6 form">
      <app-form></app-form>
    </div>
  </div>
</div>
