<form action="" method="post" class="form-box">    
   <p>
       Departamento*
   </p>
   <select class="form-control">
        <option>Default select</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
   </select>

    <p>
         Ciudad*
    </p>
    <select class="form-control">
        <option>Default select</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>

    <p>
        Nombre*
    </p>
    <input class="form-control" type="text">
    
    <p>
        Correo*
    </p>
    <input class="form-control" type="email">
    
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary rounded-pill"> 
           Enviar
        </button>
    </div>

</form>