<form class="form-box">
  <label for="" class="textRed" *ngIf="!isValid">{{redErrorlabel}}</label>
  <p>
    Departamento*
  </p>
  <select
    class="form-control"
    [(ngModel)]="selectedDepartment.id"
    [ngModelOptions]="{ standalone: true }"
    (change)="onSelectDepartment($event.target.value)"
    [ngClass]="departmentNameClass"
  >
    <option *ngFor="let department of departments" value="{{ department.id }}" >
      {{ department.name }}
    </option>
  </select>
  <p>
    Ciudad*
  </p>
  <select
    class="form-control"
    [(ngModel)]="selectedCity"
    [ngClass]="cityNameClass"
  >
    <option *ngFor="let city of cities" value="{{ city.id }}">
      {{ city.name }}
    </option>
  </select>

  <p>
    Nombre*
  </p>
  <input
    [(ngModel)]="inputName"
    [ngClass]="inpuntNameClass"
    class="form-control"
    type="text"
    maxlength="50"
    [ngModelOptions]="{ standalone: true }"
  />

  <p>
    Correo*
  </p>
  <input
    [(ngModel)]="inputMail"
    [ngClass]="inputEmailClass"   
    class="form-control"
    type="email"
    maxlength="30"
    [ngModelOptions]="{ standalone: true }"
  />
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary rounded-pill" (click)="save()">
      Enviar
    </button>
  </div>
</form>

